.update-controller {
  display: none;
}

body {
  background: url("darkBackground.jfif");
  background-size: cover;
  margin-left: 10px;
}

h1, h2 {
  color: #ffffff;
  font-family: "Courier New";
}

.fa {
  color: #ffffff;
}

.task {
  margin-top: 15px;
}

#item {
  margin-bottom: 20px;
}

textarea {
  background-color: #000000;
  color: #ffffff;
  font-family: "monospace"
}

.edit-controller {
  margin-top: -10px;
  background-color: #000000;
  width: 60px;
}
